.clear-fix {
  clear: both;
}

* {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
}
#head {
  height: 35%;
  width: 92%;
  background-color: #166740;
  float: right;
  color: black;
  text-align: center;
  font-family: Ubuntu;
  background-image: url("http://i.imgur.com/uwxTR74.jpg"), url("http://i.imgur.com/KlKEQYm.jpg"), url("http://i.imgur.com/mT0qyGv.jpg"), linear-gradient(to bottom left, #135D4F, #1A6716 );
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, right, left;
}
#nav {
  width: 8%;
  height: 100%;
  float: left;
  background-color: #135D4F;
}
/*h1, h2, h3 {
  color: #cc00cc;
  border: red solid 3px;
  border-radius: 100%;
  background-color: #ffff00;
  text-align: center;
  width: 300px

}
h1:hover, h2:hover, h3:hover {
  background-color: #cc00cc;
  color: #ffff00;
}
p {
  text-align: center;
}*/
